In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import preprocessing

from pandas_datareader import wb

TypeError: sequence item 0: expected str instance, set found

In [ ]:
# * Hiilidioksipäästödata on peräisin [täältä](https://data.worldbank.org/indicator/EN.ATM.CO2E.KT). 
# * BKT-data on peräisin [täältä](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD).

Lämpötiladata on peräisin [täältä](http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical). 

Päästö- ja BKT-datan lukemisen osalta hyödynsin Pythonin olemassaolevaa rajapintaa Maailmanpankin datan lukemiseen. 

Koska yhteen ladattavaan tiedostoon oli mahdollista sisällyttää lämpötiladata 30 maan osalta, päätin sovelluskehityksen tässä vaiheessa rajautua ainoastaan EU-valtioihin, Iso-Britannia mukaan lukien. Päätin aloittaa tarkastelun vuodesta 1991, koska sitä vanhempaa dataa ei ollut entisen itäblokin maiden osalta saatavilla.

In [40]:
temperatures = pd.read_excel("data/Temperatures.xls")

In [25]:
print(help(wb.search))

Help on function download in module pandas_datareader.wb:

download(country=None, indicator=None, start=2003, end=2005, freq=None, errors='warn', **kwargs)
    Download data series from the World Bank's World Development Indicators

    Parameters
    ----------
    indicator: string or list of strings
        taken from the ``id`` field in ``WDIsearch()``
    country: string or list of strings.
        ``all`` downloads data for all countries
        2 or 3 character ISO country codes select individual
        countries (e.g.``US``,``CA``) or (e.g.``USA``,``CAN``).  The codes
        can be mixed.

        The two ISO lists of countries, provided by wikipedia, are hardcoded
        into pandas as of 11/10/2014.
    start: int
        First year of the data series
    end: int
        Last year of the data series (inclusive)
    freq: str
        frequency or periodicity of the data to be retrieved (e.g. 'M' for
        monthly, 'Q' for quarterly, and 'A' for annual). None defaults to
        annual.
    errors: str {'ignore', 'warn', 'raise'}, default 'warn'
        Country codes are validated against a hardcoded list.  This controls
        the outcome of that validation, and attempts to also apply
        to the results from world bank.
        errors='raise', will raise a ValueError on a bad country code.
    kwargs:
        keywords passed to WorldBankReader

    Returns
    -------
    data : DataFrame
        DataFrame with columns country, iso_code, year, indicator value

None

In [37]:
data = wb.download(indicator=['NY.GDP.MKTP.KD', 'EN.ATM.CO2E.KT'], country='all', start=1990, end=2015)

In [38]:
data.head()

                 NY.GDP.MKTP.KD  EN.ATM.CO2E.KT
country    year
Arab World 2015    2.546943e+12             NaN
           2014    2.464565e+12    1.895700e+06
           2013    2.405558e+12    1.775096e+06
           2012    2.332433e+12    1.796962e+06
           2011    2.186061e+12    1.655808e+06

In [42]:
print(data.reset_index().columns)

Index(['country', 'year', 'NY.GDP.MKTP.KD', 'EN.ATM.CO2E.KT'], dtype='object')

In [10]:
print(help(wb.download))

Help on function download in module pandas_datareader.wb:

download(country=None, indicator=None, start=2003, end=2005, freq=None, errors='warn', **kwargs)
    Download data series from the World Bank's World Development Indicators

    Parameters
    ----------
    indicator: string or list of strings
        taken from the ``id`` field in ``WDIsearch()``
    country: string or list of strings.
        ``all`` downloads data for all countries
        2 or 3 character ISO country codes select individual
        countries (e.g.``US``,``CA``) or (e.g.``USA``,``CAN``).  The codes
        can be mixed.

        The two ISO lists of countries, provided by wikipedia, are hardcoded
        into pandas as of 11/10/2014.
    start: int
        First year of the data series
    end: int
        Last year of the data series (inclusive)
    freq: str
        frequency or periodicity of the data to be retrieved (e.g. 'M' for
        monthly, 'Q' for quarterly, and 'A' for annual). None defaults to
        annual.
    errors: str {'ignore', 'warn', 'raise'}, default 'warn'
        Country codes are validated against a hardcoded list.  This controls
        the outcome of that validation, and attempts to also apply
        to the results from world bank.
        errors='raise', will raise a ValueError on a bad country code.
    kwargs:
        keywords passed to WorldBankReader

    Returns
    -------
    data : DataFrame
        DataFrame with columns country, iso_code, year, indicator value

None

In [6]:
df = preprocessing.df
df.head()

,Country,Year,Average temperature,Country Name_x,Country Code_x,CO2 emissions (kt),Country Name_y,Country Code_y,GDP (constant 2010 US$),CO2 emissions compared to 1960 (100 percent),GDP compared to 1960 (100 percent)
0,AUT,1960,6.195973,Austria,AUT,30821.135,Austria,AUT,9.183670e+10,100.000000,100.000000
1,AUT,1961,6.854883,Austria,AUT,31862.563,Austria,AUT,9.692260e+10,103.378941,105.537979
2,AUT,1962,5.183271,Austria,AUT,33905.082,Austria,AUT,9.948977e+10,110.005949,108.333338
3,AUT,1963,5.455007,Austria,AUT,36992.696,Austria,AUT,1.036069e+11,120.023795,112.816461
4,AUT,1964,5.992856,Austria,AUT,38943.540,Austria,AUT,1.099522e+11,126.353361,119.725740

In [1]:
all_countries = wb.get_countries()[['name', 'iso3c']]

NameError: name 'wb' is not defined

In [7]:
print(df['Country Name_x'].unique())

['Austria' 'Belgium' 'Bulgaria' 'Cyprus' 'Czech Republic' 'Germany'
 'Denmark' 'Spain' 'Estonia' 'Finland' 'France' 'Greece' 'Croatia'
 'Ireland' 'Italy' 'Lithuania' 'Luxembourg' 'Latvia' 'Netherlands'
 'Poland' 'Portugal' 'Slovenia' 'Sweden']

In [13]:
df[df['Country Name_x']=='Germany']['GDP (constant 2010 US$)']

280             NaN
281             NaN
282             NaN
283             NaN
284             NaN
285             NaN
286             NaN
287             NaN
288             NaN
289             NaN
290    1.534053e+12
291    1.582110e+12
292    1.650146e+12
293    1.728982e+12
294    1.744371e+12
295    1.729252e+12
296    1.814837e+12
297    1.875583e+12
298    1.932010e+12
299    2.012196e+12
300    2.040544e+12
301    2.051343e+12
302    2.043244e+12
303    2.075372e+12
304    2.133959e+12
305    2.183636e+12
306    2.233583e+12
307    2.264901e+12
308    2.348866e+12
309    2.440391e+12
310    2.568634e+12
311    2.699846e+12
312    2.751786e+12
313    2.725475e+12
314    2.792450e+12
315    2.840972e+12
316    2.864209e+12
317    2.917174e+12
318    2.974923e+12
319    3.034038e+12
320    3.123908e+12
321    3.176873e+12
322    3.176873e+12
323    3.154320e+12
324    3.191225e+12
325    3.213777e+12
326    3.332692e+12
327    3.441356e+12
328    3.478602e+12
329    3.283144e+12
330    3.417095e+12
331    3.542160e+12
332    3.559587e+12
333    3.577015e+12
334    3.646040e+12
335    3.709598e+12
Name: GDP (constant 2010 US$), dtype: float64

In [8]:
pct_change_from_1960 = lambda df, column: df[str(column + ' percent change from 1960')] = df.groupby(['Country'])[column].apply(lambda x: x.div(x.iloc[0]).subtract(1).mul(100))

SyntaxError: can't assign to lambda (<ipython-input-8-4cc7f2432c7e>, line 1)

In [4]:
df.head()

,Country,Year,Average temperature,Country Name_x,Country Code_x,CO2 emissions (kt),Country Name_y,Country Code_y,GDP (constant 2010 US$)
0,AUT,1960,6.195973,Austria,AUT,30821.135,Austria,AUT,9.183670e+10
1,AUT,1961,6.854883,Austria,AUT,31862.563,Austria,AUT,9.692260e+10
2,AUT,1962,5.183271,Austria,AUT,33905.082,Austria,AUT,9.948977e+10
3,AUT,1963,5.455007,Austria,AUT,36992.696,Austria,AUT,1.036069e+11
4,AUT,1964,5.992856,Austria,AUT,38943.540,Austria,AUT,1.099522e+11

In [37]:
df['Year'].mod(5).eq(0)

0        True
1       False
2       False
3       False
4       False
5        True
6       False
7       False
8       False
9       False
10       True
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20       True
21      False
22      False
23      False
24      False
25       True
26      False
27      False
28      False
29      False
        ...
1258    False
1259    False
1260    False
1261    False
1262     True
1263    False
1264    False
1265    False
1266    False
1267     True
1268    False
1269    False
1270    False
1271    False
1272     True
1273    False
1274    False
1275    False
1276    False
1277     True
1278    False
1279    False
1280    False
1281    False
1282     True
1283    False
1284    False
1285    False
1286    False
1287     True
Name: Year, Length: 1288, dtype: bool

In [46]:
df[df['Year'].mod(5).eq(0)]['Year'].unique()

array([1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 2000, 2005, 2010,
       2015], dtype=int64)

In [30]:
print("sössö" + 2)

TypeError: can only concatenate str (not "int") to str

In [49]:
str("pöö" + " " + "hörö")

'pöö hörö'

In [26]:
df['CO2 emissions (kt) percent change from 1960'] = df.groupby(['Country'])['CO2 emissions (kt)'].apply(
                                                    lambda x: x.div(x.iloc[0]).subtract(1).mul(100))

In [27]:
df.head()

,Country,Year,Average temperature,Country Name_x,Country Code_x,CO2 emissions (kt),Country Name_y,Country Code_y,GDP (constant 2010 US$),CO2 emissions percent change from 1960,CO2 emissions (kt) percent change from 1960
0,AUT,1960,6.195973,Austria,AUT,30821.135,Austria,AUT,9.183670e+10,0.000000,0.000000
1,AUT,1961,6.854883,Austria,AUT,31862.563,Austria,AUT,9.692260e+10,3.378941,3.378941
2,AUT,1962,5.183271,Austria,AUT,33905.082,Austria,AUT,9.948977e+10,10.005949,10.005949
3,AUT,1963,5.455007,Austria,AUT,36992.696,Austria,AUT,1.036069e+11,20.023795,20.023795
4,AUT,1964,5.992856,Austria,AUT,38943.540,Austria,AUT,1.099522e+11,26.353361,26.353361

In [ ]:
def pct_change(column):
    df['pct'] = 100 * (1 - df.iloc[0][column] / df[column])
    return df

df.groupby('').apply(pct_change)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1288 entries, 0 to 1287
Data columns (total 9 columns):
Country                    1288 non-null object
Year                       1288 non-null int64
Average temperature        1288 non-null float64
Country Name_x             1288 non-null object
Country Code_x             1288 non-null object
CO2 emissions (kt)         1042 non-null float64
Country Name_y             1288 non-null object
Country Code_y             1288 non-null object
GDP (constant 2010 US$)    998 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 75.5+ KB

In [150]:
# filter_out = lambda df, column, values: df[df[column].isin(values)]

In [151]:
temperatures.columns = ['Average temperature', 'Year', 'Month', 'Country', 'ISO3', 'ISO2']
temperatures = pd.DataFrame(temperatures.groupby(['Country', 'Year'])['Average temperature'].mean())
temperatures = temperatures.reset_index()

In [152]:
countries = set(temperatures['Country'])
years = list(range(1960, 2016))

In [153]:
def tidy(df):
    df = df.melt(id_vars=['Country Name', 'Country Code'], value_vars=years, 
                           var_name='Year', value_name=df['Indicator Name'][0])
    df['Year'] = df['Year'].apply(pd.to_numeric, errors ='coerce')
    df = filter_out(df, 'Country Code', countries)
    df = filter_out(df, 'Year', years)
    return df

In [154]:
emissions= tidy(emissions)
gdp = tidy(gdp)
temperatures = filter_out(temperatures, 'Year', years)

In [155]:
print(emissions.shape)
print(gdp.shape)

(1288, 4)
(1288, 4)

In [156]:
df = temperatures.merge(emissions, left_on=['Country', 'Year'], right_on=['Country Code', 'Year'])
df = df.merge(gdp, left_on=['Country', 'Year'], right_on=['Country Code', 'Year'])

In [157]:
df.head()

,Country,Year,Average temperature,Country Name_x,Country Code_x,CO2 emissions (kt),Country Name_y,Country Code_y,GDP (constant 2010 US$)
0,AUT,1960,6.195973,Austria,AUT,NaN,Austria,AUT,NaN
1,AUT,1961,6.854883,Austria,AUT,NaN,Austria,AUT,NaN
2,AUT,1962,5.183271,Austria,AUT,NaN,Austria,AUT,NaN
3,AUT,1963,5.455007,Austria,AUT,NaN,Austria,AUT,NaN
4,AUT,1964,5.992856,Austria,AUT,NaN,Austria,AUT,NaN

In [ ]:
gdp.melt(id_vars=['Country Name', 'Country Code'], value_vars=years, 
                           var_name='Year', value_name=gdp['Indicator Name'][0])